{% extends 'base.html' %}
{% block Title %}
    Pet's page
{% endblock %}
{% block Content %}
    <a href="{{ url_for('main') }}">Main Page</a>
    <hr>
    HELLO, PET's PAGE
    <hr>
        <a href="{{ url_for('pets.add_pet') }}">Add Pet</a>
    <br>
    {% for pet in pets %}
        <div style="border: 1px solid black; padding: 5px">
            ownerId: {{ pet.get('userId') }} |
            ID: {{ pet.get('id') }} |
            type:{{ pet.get('type_pet') }} |
            name: {{ pet.get('name') }} |
            age: {{ pet.get('age') }} |<br>
            <a href="{{ pet.get('type_pet') }}"><button>get all clients with this type of pet</button></a>
            <a href="{{ url_for('pets.delete_pet', pet_name=pet.get('name')) }}"><button>Delete {{ pet.get('name') }}</button></a>
            <a href="{{ url_for('pets.count_species', type_pet=pet.get('type_pet')) }}"><button>count {{ pet.get('type_pet') }} in DB</button></a>
        </div>
    {% endfor %}
{% endblock %}