{% extends 'base.html' %}
{% block Title %}
    All existing tags for pets
{% endblock %}
{% block Content %}
    <div class="d-flex justify-content-left" style="margin-bottom: 20px">
    <form method="post">
        {% for field in form %}
            {% if not field == form.save %}
                <div class="form-group d-inline">
                    {{ field }}
                </div>
                {% if field.errors %}
                    <small class="form-text text-muted">{{ field.errors[0] }}</small>
                {% endif %}
                {% else %}
                <div class="d-inline">{{ field }}</div>
            {% endif %}
        {% endfor %}
    </form>
    </div>
    <div>
        {% for single_tag in tags %}
            <span class="badge badge-primary">{{ single_tag.name.title() }}</span>
        {% endfor %}
    </div>
{% endblock %}