
{% extends 'base.html' %}
{% block Title %}
    All Owners
{% endblock %}
{% block Title1 %}
    with {{ type_pet }}
{% endblock %}
{% block Content %}
    <div class="d-flex flex-wrap justify-content-start">
     {% for owner in owners %}
         <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ owner.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Age: {{ owner.age }}</h6>
               <p class="card-text">{{ owner.location }}</p>
    <a href="" class="card-link">Show pets</a>
    <a href="" class="card-link">Add pet</a>
    <a href="" class="card-link">Delete</a>
  </div>
        </div>
     {% endfor %}
    </div>
{% endblock %}