{% extends 'base.html' %}
{% block Content %}
    <form method="post">
        {% for field in form %}
            {% if not field == form.create %}
                <div class="form-group">
                    {{ field.label }}<br>
                    {{ field }}
                </div>
                {% if field.errors %}
                    <small class="form-text text-muted">{{ field.errors[0] }}</small>
                {% endif %}
            {% else %}
                <div>{{ field }}</div>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}