{% extends 'base.html' %}
{% block title %}
    Register TOP_SHOES SHOP
{% endblock %}
{% block content%}
<h1 class="login">Register</h1>
<form name="Auth" method="post">
    <input placeholder="Please, input your login" type="text" name="username" value="{{request.form.username}}"><br>
    <input placeholder="Please, enter your password" type="password" name="password" value="{{request.form.password}}"><br>
    <input type="submit" value="login">
</form>
    {% if error %}
        <p><strong>ERROR:</strong>{{error}}</p>
    {% endif %}
    <a href="about-us">About US</a>
{% endblock %}123123